.background {
    -fx-background-color: #aefa90; /* Light gray background */
}

.title-text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-pref-width: 200px;
}

.search-button {
    -fx-background-color: #0078D7; /* Blue background */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 15;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.card-container {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 10);
    -fx-padding: 10;
    -fx-alignment: top-center;
}